div.carrinho-de-compras{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'produto produto rightnav'
    'entrega entrega rightnav'
    ;
    height: 100vh;
}

div.product-content{
    height: 70%;
    margin-top: 0.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    border: 3px solid transparent;
    border-radius: 2%;
    background-color: aliceblue;

    grid-area: produto;
}

div.entrega{
    height: 100%;
    margin-top: 1.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    border: 3px solid transparent;
    border-radius: 2%;
    background-color: aliceblue;

    grid-area: entrega;
}

div.descricao{
    height: 100%;
    margin-top: 1.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    border: 3px solid transparent;
    border-radius: 2%;

    grid-area: descricao;
}

div.rightnav{
    height: 50em;
    margin-top: 2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    background-color: aliceblue;

    border: 3px solid transparent;
    border-radius: 2%;
    grid-area: rightnav;
}