div.conteudo{
    display: grid;
    text-align: start;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 10em 6em 3em; 
    grid-template-areas:
        'imagem' 
        'descricao'
        'preco'
    ;
    height: 100%;
    background-color: rgb(255, 255, 255);

    border-radius: 1%;
    border: 2px solid transparent;
}


.img-produto{
    width: 10rem;
    height: 10rem;
    margin-left: 4.5rem;
    grid-area: imagem;
}

#nome{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 0, 136);

    grid-area: nome;
}

.descricao{
    margin-top: 1rem;
    grid-area: descricao;
}

.preco{
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 600;
    grid-area: preco;

    text-align: center;

    border: 2%;
    border: 2px solid transparent;
    background-color: rgba(104, 179, 230, 0.438);
}

.conteudo{
    border-radius: 2%;
    border: 2px solid transparent;
    box-shadow: var(--shadow);
}

#destaque{
    font-size: 17px;
    font-weight: 600;
    color: rgb(255, 0, 136);
}

/* .marca{
    font-size: 17px;
    font-weight: 600;
    color: rgb(255, 60, 0);

    grid-area: marca;
}

.animal{
    font-size: 17px;
    font-weight: 600;
    grid-area: animal;
}

.porte{
    font-size: 17px;
    font-weight: 600;
    grid-area: porte;
}

.tamanho{
    font-size: 17px;
    font-weight: 600;
    grid-area: tamanho;
}

.excluir{
    width: 25px;
    height: 25px;
    margin-left: 10rem;
    grid-area: excluir;
}

.quantidade{
    grid-area: quantidade;
} */