.animal-content{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'welcome welcome welcome welcome welcome'
    'header1 header1 header1 header1 header1'
    'promocao promocao marcas promocao promocao'

    'header2 header2 header2 header2 header2'
    'produtos produtos produtos produtos produtos'

    'header3 header3 header3 header3 header3'
    'marcas marcas marcas marcas marcas'
    
    'titleO titleO titleO titleO titleO'
    'outros outros outros outros outros'
    ;
}

.imagem-welcome{
    width: 70vh;
    height: 30vh;
    grid-area: div-welcome;
}

.produtos.promocao{
    grid-area: promocao;
}

.produtos.promocao{
    grid-area: produtos;
}

.produtos.promocao{
    grid-area: outros;
}