header.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'title icon'
    ;

    padding: 0px 15px;

    overflow: hidden;
    white-space: nowrap;
    
    background-color: rgb(255, 0, 136);
}

.header h1{
    color: white;
    text-transform: uppercase;

    font-size: 2rem;
    grid-area: title;
}

.page-icon{
    display: flex;
    align-items: center;
    justify-content: end;

    grid-area: icon;
}

.page-icon img{
    height: 50px;
}