aside.sidenav{
    text-align: center;
    background-color: rgb(71, 71, 71);
}

.sidenav-nav a{
    display: block;

    margin-top: 1.5rem;

    color: #FFF;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
